.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.form input{
    padding: 15px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    width: 50%;
    outline: none;
}

.form .address--box{
    position: relative;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.form .cardano--amount--box{
    display: flex;
    width: 50%;
    margin: auto;
}

.form .rest--amount--box{
    display: flex;
    width: 50%;
    margin: auto;
}

.form #address{
    width: 100%;
    position: relative;
}

.form #copy-address{
    position: absolute;
    border-radius: 30px;
    padding-inline: 25px;
    right: -10px;
    top: -5px;
}

.form .cardano--amount--box input{
    flex: 85%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form .cardano--logo{
    flex: 15%;
    background-color: #0070B9;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align: center;
}

.form .cardano--logo img{
    max-width: 30px;
    margin-top: 10px;
}

.form .rest--amount--box input{
    flex: 85%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form .rest--logo{
    flex: 15%;
    background-color: #98D7C9;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align: center;
}

.form .rest--logo img{
    max-width: 35px;
    margin-top: 10px;
}

.polygon--box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.polygon--up{
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 15px solid #216B83;
}

.polygon--down{
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid #216B83;
}

@media(max-width: 800px){
    .form{
        padding: 0;
        padding-block: 20px;
    }
    .form input{
        width: 100%;
        font-size: 16px;
    }
    .form .address--box{
        width: 100%;
    }
    .form .cardano--amount--box{
        width: 100%;
    }
    .form .rest--amount--box{
        width: 100%;
    }
}