.after--rest--mode::before{
    background-image: url('../../images/sample-gif\ 2.png');
    background-size: 100px 250px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px; 
    height: 250px;
    content:"";
    position: absolute;
    left: 0;
    top: -150px;
}

.after--rest--mode::after{
    background-image: url('../../images/sample-gif\ 3.png');
    background-size: 100px 250px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px; 
    height: 250px;
    content:"";
    position: absolute;
    right: 0;
    top: -150px;
}

.after--rest--mode{
    position: relative;
    top: 100px;
}

.mobile--list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.screen{
    width: 400px;
}

.description{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.download--app{
    text-align: center;
}

@media(max-width: 800px){
    .mobile--list{
        flex-direction: column;
        gap: 50px
    }
    .screen{
        width: 100%;
    }
    .after--rest--mode{
        position: inherit;
    }
    .after--rest--mode::before{
        position: inherit;
        margin-left: -50px;
    }
    .after--rest--mode::after{
        position: static;
        margin-left: 250px;
        margin-top: -2500px;
        margin-bottom: 1700px;
    }
    .description{
        width: 100%;
    }
}