.partners p{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding-inline: 100px;
    color: #000000;
    text-align: center;
}

.partners .group--box{
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.partners .group--box img{
    max-width: 100%;
}

.partners .cloudflare img{
    margin-top: 30%;
}

@media(max-width: 800px){
    .partners p{
        padding: 0;
        font-size: 18px;
    }
}