.nav{
    display: flex;
    flex-direction: row;
    background: rgba(242, 255, 214, 0.52);
    justify-content: space-between;
    padding: 20px;
    position: fixed !important;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.nav--logo{
    max-width: 100px;
    width: 100px;
}

.nav--menu{
    display: flex;
    justify-content: space-around;
}

.nav .icon{
    display: none;
}

@media(max-width: 800px) {
    .nav{
        position: fixed !important;
    }
    .nav--menu {
        display: none;
    }

    .nav .icon {
      display: block;
      width: 100px;
      margin-top: -20px;
    }

    .nav--menu .responsive{
        position: relative;
    }

    .nav .responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav--menu .responsive{
        display: inline-block;
        margin-bottom: 5px;
    }
}