.group--box--image--middle{
    width: 60%;
    margin-top: -165px;
}

.group--box--image--right{
    width: 75%;
    margin-top: -165px;
}

.group--box--image--left::before{
    content:url('../images/coins.png');
    width: 100px;
    position: absolute;
}

.restmode .group--list{
    padding-top: 200px;
}

.restmode .group--box::before{
    background-image: url('../images/coins.png');
    background-size: 75px 75px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 75px; 
    height: 75px;
    content:"";
    position: absolute;
    margin-left: 125px;
    margin-top: 50px;
}