.roadmap::before{
    background-image: url('../images/sample-gif 4.png');
    background-size: 150px 150px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 150px;
    height: 150px;
    content: "";
}

.roadmap--image{
    width: 100%;
}

@media(max-width: 800px){
    .roadmap--image{
        width: 100%;
    }
    .roadmap{
        padding-left: 0;
        padding-right: 0;
    }
}