.roadmap::before{
    background-image: url('../images/sample-gif 4.png');
    background-size: 150px 150px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 150px;
    height: 150px;
    content: "";
}

.roadmap::after{
    background-image: url('../images/sample-gif 4.png');
    background-size: 150px 150px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 150px;
    height: 150px;
    content: "";
    margin-left: 85%;
    margin-top: -200%;
    margin-bottom: 72%;
}

.roadmap--image{
    width: 100%;
}

@media(max-width: 800px){
    .roadmap--image{
        width: 100%;
    }
    .roadmap{
        margin-top: -100px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .roadmap::after{
        margin-top: -200%;
        margin-bottom: 88%;
        margin-left: 62%;
    }
}