*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: rgba(242, 255, 214, 0.52);
}

.app{
  overflow: auto;
}

section{
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.btn{
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}

.btn:hover{
  cursor: pointer;
  box-shadow: 1px 1px 3px black;
}

.btn--default{
  background-color: #216B83;
  color: white;
}

main{
  height: 100vh;
  padding-top: 150px;
}

.title{
  padding: 50px;
  text-align: center;
  font-size: 40px;
  justify-items: center;
}

.group--list{
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  padding-top: 200px;
}

.group--box{
  background: #BCF8DE;
  box-shadow: 13px 26px 32px rgba(188, 248, 222, 0.42);
  border-radius: 34px;
  width: 300px;
  height: 300px;
  text-align: center;
}

.group--box--btn--bg{
  background-color: #216B83;
  box-shadow: 13px 26px 32px #216B83;
}

.group--box--image{
  width: 75%;
  margin-top: -200px;
}

.group--box--text{
  padding: 20px;
}

.group--box--caption{
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.group--box--description{
  color: white;
  padding-top: 30px;
}

@media(max-width: 800px) {
  .group--list{
    flex-direction: column;
    gap: 150px;
    align-items: center;
  }
}